.game-board { 
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px
    70px 70px 70px 70px 70px 70px 70px 70px;
    grid-template-rows: 80px 80px 80px 80px 80px;
    justify-content: center;
}

.div1 {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    text-align: center;
    font-size: 300%;
    border-radius: 50%;
    align-content: center;
    margin: auto;
}

.box {
    background-color:rgb(13, 160, 13);
    border: 2px;
}

.dinosaur {
    height: 80px;
    width: 70px;
    content: url("dinosaur1.png");
    position: relative;
    bottom: 0;
    background-color:rgb(13, 160, 13);
}

.tree {
    height: 80px;
    width: 70px;
    content: url("tree1.png");
    background-color: rgb(13, 160, 13);
}

.sun {
    height: 80px;
    width: 70px;
    content: url("sun2.png");
    background-color:rgb(13, 160, 13);
}

.cloud {
    height: 80px;
    width: 70px;
    content: url("cloud.png");
    background-color:rgb(13, 160, 13);
}

.fence1 {
    height: 80px;
    width: 70px;
    content: url("fence1.png");
    background-color:rgb(13, 160, 13);
}

.fence2 {
    height: 80px;
    width: 70px;
    content: url("fence2.png");
    background-color:rgb(13, 160, 13);
}

#scoreText {
    text-align:center;
    font-size: 50px;
}

#reload {
    display: none;
}
